# ***Water Analysis***

> importing modules

In [60]:
import numpy as np
import pandas as pd

> imporing data from excell sheet

In [61]:
data = pd.read_excel("GWQ_2010-2018.xlsx",sheet_name="Sheet1")

### Basic data analysis

In [62]:
data.head()

,SITE_ID,WRIS ID,LATITUDE,LONGITUDE,SITE_TYPE,STATE_NAME,DISTRICT_NAME,TAHSIL_NAME,BLOCK_NAME,SITE_NAME,...,FLUORIDE,SAR,RSC,SiO2,PO4,TDS,Turbidity,%Na,Arsenic,LR. No
0,W115159092441001,W23881,11.866389,92.736111,Dug Well,Andaman And Nicobar,A & N Islands,Ferrargunj,South Andaman,Shoal Bay– 15 No.,...,0.37,NaN,NaN,13.97,NaN,217.748,NaN,NaN,NaN,NaN
1,New,W38814,12.186944,92.791667,Dug Well,Andaman And Nicobar,A & N Islands,Middle Andaman,Baratang Island,South Creek (Sundergarh),...,0.24,0,0,15.14,0,360.745,,,0,0
2,W123014092513301,W24095,12.503889,92.859167,Dug Well,Andaman And Nicobar,A & N Islands,Middle Andaman,Mayabunder,Bakultala,...,0.96,0,0,7.67,0,239.246,NaN,NaN,0,NaN
3,W123129092581301,W24112,12.524722,92.970278,Dug Well,Andaman And Nicobar,A & N Islands,Middle Andaman,Mayabunder,Nimbutala,...,1.02,0,0,0,0,253.22,NaN,NaN,0,NaN
4,W123030092573801,W24098,12.508333,92.960556,Dug Well,Andaman And Nicobar,A & N Islands,Middle Andaman,Mayabunder,Padmanavapuram,...,0.74,0,0,10.34,0,185.361,NaN,NaN,0,NaN

In [63]:
data.count()

SITE_ID           85197
WRIS ID           85197
LATITUDE          84916
LONGITUDE         84916
SITE_TYPE         85197
STATE_NAME        85197
DISTRICT_NAME     85196
TAHSIL_NAME       85085
BLOCK_NAME        85071
SITE_NAME         85197
BASIN_NAME        85197
PROJECT_NAME      85197
year              85197
PH                85193
EC                85194
TH                81780
TOT_ALKALINITY    68788
CA                82060
MG                82049
NA                82056
K                 81988
FE                68575
CARBONATE         79104
BICARBONATE       81973
CHLORIDE          85185
SULPHATE          82060
NITRATE           81056
FLUORIDE          83992
SAR               69351
RSC               67521
SiO2              21338
PO4               22929
TDS               21477
Turbidity          3409
%Na                4025
Arsenic           15535
LR. No            10911
dtype: int64

In [64]:
data.describe()

               year
count  85197.000000
mean    2014.493738
std        2.551327
min     2010.000000
25%     2012.000000
50%     2015.000000
75%     2017.000000
max     2018.000000

In [65]:
data.head()

,SITE_ID,WRIS ID,LATITUDE,LONGITUDE,SITE_TYPE,STATE_NAME,DISTRICT_NAME,TAHSIL_NAME,BLOCK_NAME,SITE_NAME,...,FLUORIDE,SAR,RSC,SiO2,PO4,TDS,Turbidity,%Na,Arsenic,LR. No
0,W115159092441001,W23881,11.866389,92.736111,Dug Well,Andaman And Nicobar,A & N Islands,Ferrargunj,South Andaman,Shoal Bay– 15 No.,...,0.37,NaN,NaN,13.97,NaN,217.748,NaN,NaN,NaN,NaN
1,New,W38814,12.186944,92.791667,Dug Well,Andaman And Nicobar,A & N Islands,Middle Andaman,Baratang Island,South Creek (Sundergarh),...,0.24,0,0,15.14,0,360.745,,,0,0
2,W123014092513301,W24095,12.503889,92.859167,Dug Well,Andaman And Nicobar,A & N Islands,Middle Andaman,Mayabunder,Bakultala,...,0.96,0,0,7.67,0,239.246,NaN,NaN,0,NaN
3,W123129092581301,W24112,12.524722,92.970278,Dug Well,Andaman And Nicobar,A & N Islands,Middle Andaman,Mayabunder,Nimbutala,...,1.02,0,0,0,0,253.22,NaN,NaN,0,NaN
4,W123030092573801,W24098,12.508333,92.960556,Dug Well,Andaman And Nicobar,A & N Islands,Middle Andaman,Mayabunder,Padmanavapuram,...,0.74,0,0,10.34,0,185.361,NaN,NaN,0,NaN

In [66]:
new_data = data.filter(['PH','EC','TH','TOT_ALKALINITY','FLUORIDE'], axis=1)

In [67]:
new_data

         PH     EC   TH TOT_ALKALINITY FLUORIDE
0      8.34    355  130            160     0.37
1      8.46    596  120            205     0.24
2      8.11    394  160            155     0.96
3      7.89    448  200            200     1.02
4      8.01    309  125            130     0.74
...     ...    ...  ...            ...      ...
85192  7.83  118.1   60             60        0
85193   7.8    494  125             65     0.05
85194  7.85  480.9  200             55     0.38
85195  8.05  39.46   20             20        0
85196  7.71    530  175            130     0.34

[85197 rows x 5 columns]

# ***Now we have new dataset***

### **Now we will save it and do further analysis with it**

In [68]:
# we will comment it so that it creates ones
# new_data.to_excel('new_data.xlsx',sheet_name='Sheet1')

In [69]:
new_data.count()

PH                85193
EC                85194
TH                81780
TOT_ALKALINITY    68788
FLUORIDE          83992
dtype: int64

In [70]:
new_data.describe()

           PH     EC     TH TOT_ALKALINITY  FLUORIDE
count   85193  85194  81780          68788     83992
unique   1456   6626   3986           5012      5002
top         8    400     ND             ND         0
freq     3664    504   5515          12299      2596

In [71]:
new_data.shape

(85197, 5)

> Now we will drop rows where Fluoride is Na

In [72]:
new_data = new_data.dropna(subset=["FLUORIDE"])

In [73]:
new_data.shape

(83992, 5)

In [74]:
new_data['PH'].isna().sum()

1

In [75]:
new_data['EC'].isna().sum()

0

In [76]:
new_data['TH'].isna().sum()

3411

In [77]:

new_data['TOT_ALKALINITY'].isna().sum()

16392

In [78]:
new_data['FLUORIDE'].isna().sum()

0

> **Now we will fill the black cell of features**

In [104]:
new_data = new_data.assign(PH = new_data['PH'].fillna(new_data['PH'].median))
# new_data['PH'] = new_data['PH'].fillna(new_data['PH'].median)

In [105]:
new_data = new_data.assign(EC = new_data['EC'].fillna(new_data['EC'].median))
# new_data.loc[:][1] = new_data['EC'].fillna(new_data['EC'].median)

In [106]:
new_data = new_data.assign(TH = new_data['TH'].fillna(new_data['TH'].median))
# new_data.loc[:][2] = new_data['TH'].fillna(new_data['TH'].median)

In [107]:
new_data = new_data.assign(TOT_ALKALINITY = new_data['TOT_ALKALINITY'].fillna(new_data['TOT_ALKALINITY'].median))
# new_data.loc[:][3] = new_data['TOT_ALKALINITY'].fillna(new_data['TOT_ALKALINITY'].median)

In [108]:
new_data.count()

PH                83992
EC                83992
TH                83992
TOT_ALKALINITY    83992
FLUORIDE          83992
dtype: int64

# ***Now our data is ready to go further***