In [59]:
import numpy as np
import pandas as pd

In [60]:
data_west = pd.read_excel("West_Bengal_filter.xlsx",sheet_name="Sheet1")
data_telangana = pd.read_excel("Telangana_filter.xlsx",sheet_name="Sheet1")
data_tamil = pd.read_excel("Tamil_Nadu_filter.xlsx",sheet_name="Sheet1")
data_rajasthan = pd.read_excel("Rajasthan_filter.xlsx",sheet_name="Sheet1")
data_andhra = pd.read_excel("Andhra_Pradesh_filter.xlsx",sheet_name="Sheet1")

In [61]:
final_data = pd.concat([data_andhra,data_rajasthan,data_tamil,data_telangana,data_west], axis=0)

In [62]:
final_data.head()

     PH      EC  TOT_ALKALINITY    CA     MG     NA  BICARBONATE  FLUORIDE
0  7.83  2000.0          314.75  66.0  70.59  250.0        384.0      2.20
1  7.61   674.0             NaN   NaN    NaN    NaN          NaN      1.20
2  8.17   786.0          240.16  24.0  24.34  106.0        293.0      3.83
3   7.6   990.0          440.16  24.0  25.56  180.0        537.0      3.80
4  7.64   862.0          235.25  62.0  20.74   81.0        287.0      2.10

In [63]:
final_data.count()

PH                20977
EC                21010
TOT_ALKALINITY    14653
CA                19681
MG                19679
NA                19575
BICARBONATE       19840
FLUORIDE          20391
dtype: int64

In [64]:
final_data = final_data.dropna(axis=0)
final_data.count()

PH                14317
EC                14317
TOT_ALKALINITY    14317
CA                14317
MG                14317
NA                14317
BICARBONATE       14317
FLUORIDE          14317
dtype: int64

In [65]:
final_data = final_data.astype(float)
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14317 entries, 0 to 4031
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PH              14317 non-null  float64
 1   EC              14317 non-null  float64
 2   TOT_ALKALINITY  14317 non-null  float64
 3   CA              14317 non-null  float64
 4   MG              14317 non-null  float64
 5   NA              14317 non-null  float64
 6   BICARBONATE     14317 non-null  float64
 7   FLUORIDE        14317 non-null  float64
dtypes: float64(8)
memory usage: 1006.7 KB

In [66]:
final_data.corr()

,PH,EC,TOT_ALKALINITY,CA,MG,NA,BICARBONATE,FLUORIDE
PH,1.000000,0.007638,0.159336,-0.258240,-0.072663,0.111236,0.004120,0.104397
EC,0.007638,1.000000,0.326843,0.588173,0.419715,0.893397,0.376564,0.144962
TOT_ALKALINITY,0.159336,0.326843,1.000000,0.066551,0.037629,0.365656,0.858184,0.207236
CA,-0.258240,0.588173,0.066551,1.000000,0.335212,0.431942,0.134535,-0.021407
MG,-0.072663,0.419715,0.037629,0.335212,1.000000,0.316331,0.158502,0.032624
NA,0.111236,0.893397,0.365656,0.431942,0.316331,1.000000,0.383354,0.205203
BICARBONATE,0.004120,0.376564,0.858184,0.134535,0.158502,0.383354,1.000000,0.219009
FLUORIDE,0.104397,0.144962,0.207236,-0.021407,0.032624,0.205203,0.219009,1.000000

In [67]:
final_data['Bin_Fluoride'] = np.where( final_data['FLUORIDE'] >= 1,1,0)
final_data['Bin_Fluoride'].value_counts()

0    9685
1    4632
Name: Bin_Fluoride, dtype: int64

In [68]:
final_data.head()

,PH,EC,TOT_ALKALINITY,CA,MG,NA,BICARBONATE,FLUORIDE,Bin_Fluoride
0,7.83,2000.0,314.75,66.0,70.59,250.0,384.0,2.20,1
2,8.17,786.0,240.16,24.0,24.34,106.0,293.0,3.83,1
3,7.60,990.0,440.16,24.0,25.56,180.0,537.0,3.80,1
4,7.64,862.0,235.25,62.0,20.74,81.0,287.0,2.10,1
6,8.13,788.0,304.92,18.0,20.69,132.0,372.0,2.40,1

In [69]:
final_data = final_data.drop(['FLUORIDE'],axis=1)

In [70]:
final_data.shape

(14317, 8)

In [71]:
data = final_data

In [72]:
final_data = final_data.sample(frac=1)
final_data

,PH,EC,TOT_ALKALINITY,CA,MG,NA,BICARBONATE,Bin_Fluoride
519,7.90,2000.0,594.886922,40.0,124.050,207.0,726.0,1
4100,7.65,3830.0,469.672131,124.0,116.736,580.0,573.0,1
2441,8.00,1590.0,130.327530,72.0,46.280,167.0,159.0,1
467,7.15,2318.0,640.160000,232.0,56.200,170.0,781.0,1
5420,7.97,2670.0,500.000000,204.0,65.890,240.0,610.0,0
...,...,...,...,...,...,...,...,...
1109,7.94,3345.0,430.186824,56.0,97.320,350.0,525.0,1
651,8.20,680.0,288.524590,73.0,16.416,47.0,352.0,0
3433,8.70,1220.0,329.672131,16.0,26.760,238.0,329.0,1
2020,8.01,650.0,104.920000,46.0,31.660,20.0,128.0,0
1978,7.82,1134.0,95.080000,56.0,49.910,70.0,116.0,0

In [73]:
x = final_data.drop(['Bin_Fluoride'],axis=1)
x

        PH      EC  TOT_ALKALINITY     CA       MG     NA  BICARBONATE
519   7.90  2000.0      594.886922   40.0  124.050  207.0        726.0
4100  7.65  3830.0      469.672131  124.0  116.736  580.0        573.0
2441  8.00  1590.0      130.327530   72.0   46.280  167.0        159.0
467   7.15  2318.0      640.160000  232.0   56.200  170.0        781.0
5420  7.97  2670.0      500.000000  204.0   65.890  240.0        610.0
...    ...     ...             ...    ...      ...    ...          ...
1109  7.94  3345.0      430.186824   56.0   97.320  350.0        525.0
651   8.20   680.0      288.524590   73.0   16.416   47.0        352.0
3433  8.70  1220.0      329.672131   16.0   26.760  238.0        329.0
2020  8.01   650.0      104.920000   46.0   31.660   20.0        128.0
1978  7.82  1134.0       95.080000   56.0   49.910   70.0        116.0

[14317 rows x 7 columns]

In [74]:
y = final_data[:]['Bin_Fluoride']
y

519     1
4100    1
2441    1
467     1
5420    0
       ..
1109    1
651     0
3433    1
2020    0
1978    0
Name: Bin_Fluoride, Length: 14317, dtype: int64

In [75]:
x_train,x_test=x[:10000],x[10000:]
x_train.shape

(10000, 7)

In [76]:
x_test.shape

(4317, 7)

In [77]:
y_train,y_test=y[:10000],y[10000:]
y_train.value_counts()

0    6758
1    3242
Name: Bin_Fluoride, dtype: int64

In [78]:
y_test.value_counts()

0    2927
1    1390
Name: Bin_Fluoride, dtype: int64

# ***Resample Test data***

In [79]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=12)
x_train,y_train = sm.fit_resample(x_train,y_train)

In [80]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13516 entries, 0 to 13515
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PH              13516 non-null  float64
 1   EC              13516 non-null  float64
 2   TOT_ALKALINITY  13516 non-null  float64
 3   CA              13516 non-null  float64
 4   MG              13516 non-null  float64
 5   NA              13516 non-null  float64
 6   BICARBONATE     13516 non-null  float64
dtypes: float64(7)
memory usage: 739.3 KB

In [81]:
y_train.info()

<class 'pandas.core.series.Series'>
RangeIndex: 13516 entries, 0 to 13515
Series name: Bin_Fluoride
Non-Null Count  Dtype
--------------  -----
13516 non-null  int64
dtypes: int64(1)
memory usage: 105.7 KB

In [82]:
y_train.value_counts()

1    6758
0    6758
Name: Bin_Fluoride, dtype: int64

# ***Random Forest***

In [83]:
from sklearn.ensemble import RandomForestClassifier
clf_forest = RandomForestClassifier(max_depth=19, random_state=10)
clf_forest.fit(x_train,y_train)

RandomForestClassifier(max_depth=19, random_state=10)

In [84]:
y_test_predict_forest = clf_forest.predict(x_test[:][:])
y_test_predict_forest

array([0, 0, 1, ..., 1, 0, 0])

In [85]:
from sklearn.metrics import confusion_matrix

In [86]:
confusion_matrix(y_test,y_test_predict_forest)

array([[2316,  611],
       [ 602,  788]])

In [87]:
# after resampling
# [[2226,  665],
# [ 603,  823]]       19,10

In [88]:
# without resampling
# [2629,  297], 
# [ 882,  509]]  10,10  
#  
# ([[2625,  301],
# [ 863,  528]])   12,10

# ([[2620,  306],
# [ 837,  554]])   14,10

In [89]:
# Modify data

In [90]:
data.head()

     PH      EC  TOT_ALKALINITY    CA     MG     NA  BICARBONATE  Bin_Fluoride
0  7.83  2000.0          314.75  66.0  70.59  250.0        384.0             1
2  8.17   786.0          240.16  24.0  24.34  106.0        293.0             1
3  7.60   990.0          440.16  24.0  25.56  180.0        537.0             1
4  7.64   862.0          235.25  62.0  20.74   81.0        287.0             1
6  8.13   788.0          304.92  18.0  20.69  132.0        372.0             1

In [91]:
data['NA/CA'] = np.where(data['CA']!=0,data['NA']/data['CA'],0)
data.head()

,PH,EC,TOT_ALKALINITY,CA,MG,NA,BICARBONATE,Bin_Fluoride,NA/CA
0,7.83,2000.0,314.75,66.0,70.59,250.0,384.0,1,3.787879
2,8.17,786.0,240.16,24.0,24.34,106.0,293.0,1,4.416667
3,7.60,990.0,440.16,24.0,25.56,180.0,537.0,1,7.500000
4,7.64,862.0,235.25,62.0,20.74,81.0,287.0,1,1.306452
6,8.13,788.0,304.92,18.0,20.69,132.0,372.0,1,7.333333

In [92]:
data.count()

PH                14317
EC                14317
TOT_ALKALINITY    14317
CA                14317
MG                14317
NA                14317
BICARBONATE       14317
Bin_Fluoride      14317
NA/CA             14317
dtype: int64

In [93]:
data = data.dropna(axis=0)

In [94]:
data.count()

PH                14317
EC                14317
TOT_ALKALINITY    14317
CA                14317
MG                14317
NA                14317
BICARBONATE       14317
Bin_Fluoride      14317
NA/CA             14317
dtype: int64

In [95]:
data = data.astype("f")
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14317 entries, 0 to 4031
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PH              14317 non-null  float32
 1   EC              14317 non-null  float32
 2   TOT_ALKALINITY  14317 non-null  float32
 3   CA              14317 non-null  float32
 4   MG              14317 non-null  float32
 5   NA              14317 non-null  float32
 6   BICARBONATE     14317 non-null  float32
 7   Bin_Fluoride    14317 non-null  float32
 8   NA/CA           14317 non-null  float32
dtypes: float32(9)
memory usage: 615.2 KB

In [96]:
data = data.sample(frac=1)
data.head()

,PH,EC,TOT_ALKALINITY,CA,MG,NA,BICARBONATE,Bin_Fluoride,NA/CA
4224,8.62,4440.0,669.836060,48.0,92.000000,938.0,622.000000,1.0,19.541666
1524,7.50,2654.0,419.670013,184.0,61.009998,160.0,512.000000,0.0,0.869565
603,7.67,1587.0,454.920013,58.0,70.580002,180.0,555.000000,1.0,3.103448
2100,8.02,2780.0,600.000000,40.0,92.440002,383.0,732.000000,0.0,9.575000
3525,7.98,1344.0,220.000000,112.0,9.720000,156.0,268.399994,0.0,1.392857

In [97]:
x = data.drop(['Bin_Fluoride','CA','NA'],axis=1)
x.head()

        PH      EC  TOT_ALKALINITY         MG  BICARBONATE      NA/CA
4224  8.62  4440.0      669.836060  92.000000   622.000000  19.541666
1524  7.50  2654.0      419.670013  61.009998   512.000000   0.869565
603   7.67  1587.0      454.920013  70.580002   555.000000   3.103448
2100  8.02  2780.0      600.000000  92.440002   732.000000   9.575000
3525  7.98  1344.0      220.000000   9.720000   268.399994   1.392857

In [98]:
y = data['Bin_Fluoride']
y.head()

4224    1.0
1524    0.0
603     1.0
2100    0.0
3525    0.0
Name: Bin_Fluoride, dtype: float32

In [99]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14317 entries, 4224 to 3506
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PH              14317 non-null  float32
 1   EC              14317 non-null  float32
 2   TOT_ALKALINITY  14317 non-null  float32
 3   MG              14317 non-null  float32
 4   BICARBONATE     14317 non-null  float32
 5   NA/CA           14317 non-null  float32
dtypes: float32(6)
memory usage: 447.4 KB

In [100]:
# x_train,x_test=x[:10000],x[10000:]
x_train.shape

(13516, 7)

In [101]:
x_test.shape

(4317, 7)

In [102]:
# y_train,y_test=y[:10000],y[10000:]
y_train.shape

(13516,)

In [103]:
y_test.shape

(4317,)

## **Random forest**

In [104]:
x_train.head()

     PH      EC  TOT_ALKALINITY     CA       MG     NA  BICARBONATE
0  7.90  2000.0      594.886922   40.0  124.050  207.0        726.0
1  7.65  3830.0      469.672131  124.0  116.736  580.0        573.0
2  8.00  1590.0      130.327530   72.0   46.280  167.0        159.0
3  7.15  2318.0      640.160000  232.0   56.200  170.0        781.0
4  7.97  2670.0      500.000000  204.0   65.890  240.0        610.0

In [105]:
# from sklearn.ensemble import RandomForestClassifier
# new_forest = RandomForestClassifier(max_depth=14, random_state=10)
# new_forest.fit(x_train,y_train)

In [106]:
# y_test_predict_forest = new_forest.predict(x_test[:][:])
# y_test_predict_forest

In [107]:
# confusion_matrix(y_test,y_test_predict_forest)

In [108]:
# [2629,  297], 
# [ 882,  509]]  10,10  
#  
# ([[2625,  301],
# [ 863,  528]])   12,10

# ([[2620,  306],
# [ 837,  554]])   14,10