# **ML on Andhra Pradesh Data**

In [1]:
import pandas as pd
import numpy as np

In [2]:
# data = pd.read_excel("Andhra_Pradesh.xlsx",sheet_name="Sheet1")

In [3]:
# data.head()

In [4]:
# data = data.filter(['PH','EC','TOT_ALKALINITY','CA','MG','NA','BICARBONATE','FLUORIDE'], axis=1)

In [5]:
# data.to_excel("Andhra_Pradesh_filter.xlsx",sheet_name='Sheet1',index=False)

In [7]:
data = pd.read_excel("Andhra_Pradesh_filter.xlsx",sheet_name="Sheet1")

In [8]:
data.head()

     PH      EC  TOT_ALKALINITY    CA     MG     NA  BICARBONATE  FLUORIDE
0  7.83  2000.0          314.75  66.0  70.59  250.0        384.0      2.20
1  7.61   674.0             NaN   NaN    NaN    NaN          NaN      1.20
2  8.17   786.0          240.16  24.0  24.34  106.0        293.0      3.83
3   7.6   990.0          440.16  24.0  25.56  180.0        537.0      3.80
4  7.64   862.0          235.25  62.0  20.74   81.0        287.0      2.10

In [9]:
data = data.dropna(axis=0)
data.count()

PH                3550
EC                3550
TOT_ALKALINITY    3550
CA                3550
MG                3550
NA                3550
BICARBONATE       3550
FLUORIDE          3550
dtype: int64

In [10]:
data = data.astype(float)

In [11]:
data.corr()

,PH,EC,TOT_ALKALINITY,CA,MG,NA,BICARBONATE,FLUORIDE
PH,1.000000,-0.123577,0.034902,-0.411845,-0.163775,0.000090,-0.023668,0.051751
EC,-0.123577,1.000000,0.530776,0.596970,0.786944,0.918060,0.527024,0.100960
TOT_ALKALINITY,0.034902,0.530776,1.000000,0.173734,0.349382,0.541995,0.990101,0.363856
CA,-0.411845,0.596970,0.173734,1.000000,0.521302,0.345219,0.193898,-0.099946
MG,-0.163775,0.786944,0.349382,0.521302,1.000000,0.594667,0.352958,0.051191
NA,0.000090,0.918060,0.541995,0.345219,0.594667,1.000000,0.529451,0.175119
BICARBONATE,-0.023668,0.527024,0.990101,0.193898,0.352958,0.529451,1.000000,0.354658
FLUORIDE,0.051751,0.100960,0.363856,-0.099946,0.051191,0.175119,0.354658,1.000000

In [15]:
data['Bin_Fluoride'] = np.where( data['FLUORIDE'] >= 1,1,0)
data['Bin_Fluoride'].value_counts()

0    2835
1     715
Name: Bin_Fluoride, dtype: int64