# **ML on Andhra Pradesh Data**

In [1]:
import pandas as pd
import numpy as np

In [5]:
# data = pd.read_excel("West_Bengal.xlsx",sheet_name="Sheet1")

In [6]:
# data.head()

,SITE_ID,WRIS ID,LATITUDE,LONGITUDE,SITE_TYPE,STATE_NAME,DISTRICT_NAME,TAHSIL_NAME,BLOCK_NAME,SITE_NAME,...,FLUORIDE,SAR,RSC,SiO2,PO4,TDS,Turbidity,%Na,Arsenic,LR. No
0,New,W40678,22.87,86.78,Dug well,West Bengal,Bakura,Akhuta More,Ranibandh,Ranibandh (Akhuta More),...,0.13,0,0,0,0.682,308.48,,,0,0
1,W232514087063701,W10143,23.4,87.11,Dug well,West Bengal,Bakura,Amarkanan,Gangajal Ghati,Gangajalghati,...,0.12,0,0,0,0.633,526.08,NaN,NaN,0,NaN
2,New,W40679,23.31,87.11,Dug well,West Bengal,Bakura,Ba0Hakona,Bankura Ii,Borjora,...,0.09,0,0,0,16.93,355.84,,,0,0
3,New,W40680,23.31,86.96,Dug well,West Bengal,Bakura,Babupara,Chatna,Chatna,...,0.18,0,0,0,BDL,1072,,,0,0
4,New,W40681,23.07,86.89,Dug well,West Bengal,Bakura,Baharamuri,Khatra I,Khatra-I,...,0.16,0,0,0,0.519,695.04,,,0,0

In [7]:
# data = data.filter(['PH','EC','TOT_ALKALINITY','CA','MG','NA','BICARBONATE','FLUORIDE'], axis=1)

In [8]:
# data.to_excel("West_Bengal_filter.xlsx",sheet_name='Sheet1',index=False)

In [21]:
data = pd.read_excel("West_Bengal_filter.xlsx",sheet_name="Sheet1")

In [22]:
data.head()

     PH      EC  TOT_ALKALINITY     CA     MG     NA  BICARBONATE  FLUORIDE
0  7.90   482.0           180.0   44.0  19.44   21.0        219.6      0.13
1  7.56   822.0           185.0   40.0   0.00  104.0        225.7      0.12
2  7.65   556.0           130.0   50.0  14.58   40.0        158.6      0.09
3  7.55  1675.0           430.0  146.0  29.16  165.0        524.6      0.18
4  7.93  1086.0           180.0   92.0  43.74   55.0        219.6      0.16

In [23]:
data = data.dropna(axis=0)
data.count()

PH                1573
EC                1573
TOT_ALKALINITY    1573
CA                1573
MG                1573
NA                1573
BICARBONATE       1573
FLUORIDE          1573
dtype: int64

In [24]:
data = data.astype(float)

In [25]:
data.corr()

,PH,EC,TOT_ALKALINITY,CA,MG,NA,BICARBONATE,FLUORIDE
PH,1.000000,-0.118032,-0.027802,-0.224156,-0.006188,-0.030114,-0.117998,0.292218
EC,-0.118032,1.000000,0.541955,0.527971,0.610683,0.829640,0.565184,-0.002400
TOT_ALKALINITY,-0.027802,0.541955,1.000000,0.336251,0.439616,0.454791,0.975899,0.045109
CA,-0.224156,0.527971,0.336251,1.000000,0.187834,0.264014,0.373001,-0.090231
MG,-0.006188,0.610683,0.439616,0.187834,1.000000,0.346161,0.431149,0.198456
NA,-0.030114,0.829640,0.454791,0.264014,0.346161,1.000000,0.460967,-0.012755
BICARBONATE,-0.117998,0.565184,0.975899,0.373001,0.431149,0.460967,1.000000,-0.008643
FLUORIDE,0.292218,-0.002400,0.045109,-0.090231,0.198456,-0.012755,-0.008643,1.000000

In [26]:
data['Bin_Fluoride'] = np.where( data['FLUORIDE'] >= 1,1,0)
data['Bin_Fluoride'].value_counts()

0    1393
1     180
Name: Bin_Fluoride, dtype: int64

In [27]:
data.head()

,PH,EC,TOT_ALKALINITY,CA,MG,NA,BICARBONATE,FLUORIDE,Bin_Fluoride
0,7.90,482.0,180.0,44.0,19.44,21.0,219.6,0.13,0
1,7.56,822.0,185.0,40.0,0.00,104.0,225.7,0.12,0
2,7.65,556.0,130.0,50.0,14.58,40.0,158.6,0.09,0
3,7.55,1675.0,430.0,146.0,29.16,165.0,524.6,0.18,0
4,7.93,1086.0,180.0,92.0,43.74,55.0,219.6,0.16,0